.home {
  padding: 2rem;
  box-shadow: 2px, 2px, 2px, 4px rgba($color: #000000, $alpha: 0.5);
  text-align: center;
  width: 90vw;
  margin: 1rem auto;

  .crawler-form {
    width: 80vw;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & > input {
      padding: 0.5rem;
      text-align: center;
      outline: none;
    }

    & > input::placeholder {
      text-align: center;
    }

    & > button {
      padding: 0.5rem;
    }
  }
}

.summeryLine {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid black;

  & > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & > span {
      max-width: 10rem;
      width: 33%;
      max-height: 5rem;
      overflow-x: auto;
    }
  }

  .headers {
    text-decoration: underline;
  }
}

.dataBlock {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 20rem;
  height: 7rem;
  overflow: auto;
  border: 1px solid black;
  margin: 0.3rem;

  &:hover {
    background-color: darken($color: white, $amount: 5%);
    cursor: pointer;
  }
}

.input-error {
  border: 1px solid red;
}

.seperator {
  width: 80%;
  height: 1px;
  background-color: #000000;
  margin: 0.5rem auto;
}
.node__root > circle {
  fill: brown;
  stroke: brown;
}

.node__branch > circle {
  fill: rgb(255, 140, 0);
  stroke: rgb(255, 140, 0);
}

.rd3t-link {
  // fill: green;
  stroke: green;
}
// #treeWrapper {
//   .rd3t-tree-container .rd3t-grabbable {
//     .rd3t-svg,
//     .rd3t-svg-a9227dab-87fd-4df3-9206-d2b9b1dbec7b {
//       height: 55rem !important;
//       width: 30rem;
//       top: -0.5rem;
//       transform: rotate(90deg);
//       position: absolute;
//       left: 17.3rem;
//     }
//   }
// }
